@model Shop.ViewModels.CarsListViewModel

@{
    Layout = "_Layout";
}

<h3>@Model.CurrentCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (var car in Model.AllCars)
        {
            @Html.Partial("CarElement", car)
        }
    }
</div>