@using Shop.ViewModels
@model CarsListViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<h2>Все автомобили</h2>
<h3>@Model.CurrentCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (var car in Model.AllCars)
        {
            @Html.Partial("CarElement",car)
        }
    }
</div>