@model Shop.ViewModels.ShopCartViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<div class="container">
    @if (Model.ShopCart.ShopItems.Count == 0)
    {
        <div>Ваша корзина пуста</div>
    }

    @foreach (var item in Model.ShopCart.ShopItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобиль:</b> @item.Car.Name <br/>
            <b>Цена:</b> @item.Car.Price
            <a class="delete-item btn btn-outline-danger" asp-controller="Cart" asp-action="DeleteFromCart" asp-route-id="@item.Id">Удалить</a>
        </div>
    }
    <hr/>
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>
