<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/MyStyle.css" rel="stylesheet" type="text/css" />
    @*<script src="~/js/bootstrap.min.js"></script>*@
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">CarShop</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false" aria-controls="navbarCollapse"  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> 
                    <a class="nav-link" href="/Cars/List">Все товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Cars/Category/electro">Электромобили</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Cars/Category/classic">Классические</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Cart/">Корзина</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container mt-5">
    @RenderBody()
</div>
<footer class="footer">
    <div class="container">
        <div class=" col-sm-4 col-md col-12 col">
            <h5 class="col_white_amrc pt2">Мои контакты:</h5>
            <p><b>Address:</b> г. Томск,Федора Лыткина, 10 </p>
            <p><b>Phone:</b> +7-953-927-68-20  </p>
            <p><b>E-mail:</b> kkalenti@inbox.ru  </p>
        </div>
    </div>

</footer>
</body>

</html>
