<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/MyStyle.css" rel="stylesheet" type="text/css" />
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">CarShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="button-container collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> 
                    <a class="nav-link" href="/Cars/List">Все товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Cars/Category/electro">Электромобили</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Cars/Category/classic">Классические</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Cart/">Корзина</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container mt-5">
    @RenderBody()
</div>
<footer class="footer">
    <div class="container">
        <div class=" col-sm-4 col-md col-12 col">
            <h5 class="col_white_amrc pt2">Мои контакты:</h5>
            <p><b>Address:</b> г. Томск,Федора Лыткина, 10 </p>
            <p><b>Phone:</b> +7-953-927-68-20  </p>
            <p><b>E-mail:</b> kostik2000@inbox.ru  </p>
        </div>
    </div>

</footer>
</body>

</html>
