

@{
    Layout = "_Layout";
}

<!DOCTYPE html>


<h1>Мои контакты:</h1>
@{
    <div>
        <p>Адресс: г.Томск, ул. Федора Лыткина, д. 10</p>
        <p>Почтовый ящик: kostik2000@inbox.ru</p>
        <p>Номер телефона: 79539276820</p>
    </div>
}
